html{
	background: black;
}

img{
	float: left;
	width: 30%;
	margin: 1.66%;
}

h1{
	font-family: cursive;
	margin-left: 1.66%;
	font-weight: 500;
	border-bottom: 2px solid red;
	width: 30%;
	color:white;
	text-transform: uppercase;
	padding-bottom: 2%;
}